# DO NOT include azure-functions-worker in this file
# The Python Worker is managed by Azure Functions platform
# Manually managing azure-functions-worker may cause unexpected issues

# DO NOT include azure-functions-worker in this file
# The Python Worker is managed by Azure Functions platform
# Manually managing azure-functions-worker may cause unexpected issues

azure-functions
openai>=1.0.0
requests
azure-search-documents
pymupdf
azure-storage-blob
numpy
pillow
azure-ai-documentintelligence==1.0.0b4
opencv-python
pytesseract
msal